* {
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  overflow-x: hidden;
}

.container {
  margin: auto;
  background: white;
  text-align: center;
}

.align {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: -2px;
}



.btn {
  width: 100%;
}

input-group mb-3 {
}

.insta {
  width: 100px;
  height: 100px;
}
/* Copy */
.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.twit {
  width: 100px;
  height: 80px;
}

.face {
  width: 100px;
  height: 80px;
}

/* .pics {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 100px;
} */
