* / {
    margin: 0;
    background-color: black;

}
body {
    background-color: black;
}

.first {
    display: flex;
    text-align: center;
    justify-content: center;
    width: -100rem;
    height: 200px;
    padding: 200px;}